.sidebar {
    width: 20%;
    min-height: calc(100vh - 64px);
    background: rgba(128, 128, 128, 0.1);
    color: #f9fafb;
    padding: 30px 10px 20px 10px;
    box-sizing: border-box;
    border: 1px solid #334155;
    margin: 20px;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.sidebar-nav {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.sidebar-link {
    background: transparent;
    border: none;
    display: flex;
    align-items: center;
    gap: 8px;
    font-family: 'Inter', sans-serif;
    color: #94A3B8;
    text-decoration: none;
    padding: 15px 12px;
    border-radius: 8px;
    font-size: 20px; 
}

.active{
    background: #2A1B60;
    border-left: 1px solid #8C7CFF;
    color: #f9fafb;
}

.sidebar-link:hover {
    color: #f9fafb;
}

.sidebar-footer {
   padding: 30px 10px 20px 10px;
   display: flex;
   flex-direction: column;
   gap: 10px;
}

.sidebar-footer-text {
    font-family: 'Inter', sans-serif;
    color: #7233e6;
    font-size: 24px;
    padding-bottom: 5px;
}

.sidebar-footer-para {
    font-family: 'Inter', sans-serif;
    color: #94A3B8;
    font-size: 16px;
}

.sidebar-footer-heading {
    font-family: 'Inter', sans-serif;
    color: #94A3B8;
    font-size: 14px;
    padding-top: 10px;
}

.sidebar-footer-links {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

li{
    display: flex;
    align-items: center;
    gap: 10px;
    font-family: 'Inter', sans-serif;
    color: #94A3B8;
}